<a href="https://colab.research.google.com/github/lmencisoe/CDA/blob/main/Parcial1/Parcial1_lm_enciso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parcial 1

MINE-4101: Applied Data Science  
Univerisdad de los Andes  

## **Luis Miguel Enciso**

In [1]:
!pip install pylev

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pylev in /usr/local/lib/python3.7/dist-packages (1.4.0)

In [2]:
# Importing required libraries

import re
from random import randint
from datetime import datetime

import numpy as np
import pandas as pd

import pylev

In [3]:
# Parameter for showing all columns when printing a dataframe
pd.set_option('display.max_columns', None)

In [7]:
# Loading data
data_alpes = pd.read_csv("https://raw.githubusercontent.com/lmencisoe/CDA/main/Parcial1/airbnb_train_sample.csv")

In [8]:
# Printing the dataset dimensions
data_alpes.shape

(10, 16)

In [9]:
# Printing column data types
data_alpes.dtypes

id                       int64
neighbourhood group     object
neighbourhood           object
lat                    float64
long                   float64
country                 object
instant_bookable          bool
cancellation_policy     object
room type               object
construction year      float64
price                   object
service fee             object
minimum nights         float64
availability 365       float64
number of reviews      float64
review rate number     float64
dtype: object

In [11]:
data_alpes.head(15)

,id,neighbourhood group,neighbourhood,lat,long,country,instant_bookable,cancellation_policy,room type,construction year,price,service fee,minimum nights,availability 365,number of reviews,review rate number
0,31652329,Queens,St. Albans,40.68935,-73.77592,United States,False,strict,Private room,2004.0,$ 566,$ 113,1.0,363.0,27.0,3.0
1,47617665,Manhattan,Morningside Heights,40.80752,-73.96713,United States,False,flexible,Entire home/apt,2011.0,$ 267,$ 53,7.0,393.0,5.0,4.0
2,30443897,Queens,Corona,40.74942,-73.85123,United States,False,flexible,Private room,2015.0,$ 781,$ 156,1.0,65.0,51.0,3.0
3,34527603,Manhattan,Harlem,40.81080,-73.93952,United States,False,flexible,Private room,2020.0,$ 982,$ 196,2.0,122.0,44.0,2.0
4,36350193,Brooklyn,Bushwick,40.69985,-73.93358,United States,True,strict,Private room,2021.0,$ 901,$ 180,2.0,178.0,4.0,3.0
5,29784451,Queens,Richmond Hill,40.68420,-73.82864,United States,False,moderate,Entire home/apt,2004.0,$ 960,$ 192,1.0,363.0,4.0,3.0
6,15126961,Queens,Astoria,40.76972,-73.92662,United States,False,moderate,Private room,2004.0,"$ 1,19",$ 237,1.0,250.0,19.0,5.0
7,29275230,Queens,Ridgewood,40.70529,-73.91332,United States,True,moderate,Entire home/apt,2009.0,$ 652,$ 130,1.0,31.0,13.0,5.0
8,15864281,Manhattan,East Village,40.72535,-73.98244,United States,False,strict,Private room,2016.0,$ 242,$ 48,3.0,0.0,51.0,3.0
9,11722584,Brooklyn,Prospect Heights,40.67419,-73.96423,United States,True,strict,Private room,2015.0,"$ 1,15",$ 230,3.0,0.0,4.0,3.0

In [15]:
data_alpes['price'].replace('[\$,]', '', regex=True).astype(float)

0    566.0
1    267.0
2    781.0
3    982.0
4    901.0
5    960.0
6    119.0
7    652.0
8    242.0
9    115.0
Name: price, dtype: float64