<a href="https://colab.research.google.com/github/lmencisoe/CDA/blob/main/Taller3/Talle3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1.Importación de librerías**

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pandas_profiling import ProfileReport
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import ConfusionMatrixDisplay, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
import seaborn as sns
import warnings
import re
warnings.filterwarnings('ignore')
!pip install --upgrade pandas-profiling

Mounted at /content/drive
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Collecting pandas-profiling
  Downloading pandas_profiling-3.4.0-py2.py3-none-any.whl (315 kB)
     |████████████████████████████████| 315 kB 16.1 MB/s
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.7.3)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     |████████████████████████████████| 102 kB 57.7 MB/s
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (6.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.21.6)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.10.2)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.11.2)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 66.7 MB/s
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (690 kB)
     |████████████████████████████████| 690 kB 58.6 MB/s
Requirement already satisfied: matplotlib<3.6,>=3.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (4.64.1)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9-py3-none-any.whl (10 kB)
Requirement already satisfied: missingno<0.6,>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.5.1)
Collecting requests<2.29,>=2.24.0
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (22.1.0)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 64.7 MB/s
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.6.3)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     |████████████████████████████████| 296 kB 72.8 MB/s
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib<3.6,>=3.2->pandas-profiling) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2022.6)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.7/dist-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib<3.6,>=3.2->pandas-profiling) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.24)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (21.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.3.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=09fc931ca968a6b2dd6b244919dae0ed3e2a4a6a8ecd69fb1b52988007367758
  Stored in directory: /root/.cache/pip/wheels/70/e1/52/5b14d250ba868768823940c3229e9950d201a26d0bd3ee8655
Successfully built htmlmin
Installing collected packages: tangled-up-in-unicode, multimethod, visions, imagehash, statsmodels, requests, phik, htmlmin, pandas-profiling
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: pandas-profiling
    Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9 pandas-profiling-3.4.0 phik-0.12.2 requests-2.28.1 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 visions-0.7.5

**Objetivo:**

1.Predecir desercion laboral basado en la satisfaccion laboral.

2.Definir estrategias para evitar fugas de personal.

Sector: Farmaeutico

Dataset: 1506 rows con 36 columnas

**Diccionario de Datos**

Field - Description

Age - Age of the employee

Attrition - employee attrition

BusinessTravel  -how frequently an employee travels for business purpose

DailyRate Daily - wage of an employee

Department - Employee department

DistanceFromHome - Distance from home to office in KM's

Education - Qualification of employee (masked, higher is better)

EducationField - Stream of Education

EmployeeCount - EmployeeCount

EmployeeNumber - employee number

EnvironmentSatisfaction - Environment (higher is better)

Gender - Gender of employee

HourlyRate - employee hourly rate

JobInvolvement - Job involvement (higher is better)

JobLevel - level of Job (higher is more important)

JobRole - job role of an employee

JobSatisfaction-  if employee is satisfied?

MaritalStatus - employee is married or not

MonthlyIncome - income of an employee

MonthlyRate - monthly rate of an employee

NumCompaniesWorked - number of companies worked for

Over18 - age over 18

OverTime - employee works over time

PercentSalaryHike - salary hike

PerformanceRating - performance rate

RelationshipSatisfaction - Relationship satisfaction

StandardHours - per week standard work hours

StockOptionLevel - company stock option level

TotalWorkingYears - total working years

TrainingTimesLastYear - Training time

WorkLifeBalance - Work life balance

YearsAtCompany - total years at current company

YearsInCurrentRole - total years in current role

YearsSinceLastPromotion - years since last promotion

YearsWithCurrManager - Years worked under current manager

### **1. Limpieza y preparación de datos**

In [4]:
#Abrimos el dataset
#df=pd.read_csv("/content/drive/MyDrive/Taller 3/Data_Taller_3.csv",sep=";")
df=pd.read_csv("/content/drive/MyDrive/Taller3_CDA/Data_Taller_3.csv",sep=";")

In [5]:
#Exploramos los datos inciales
df.head()

,JobSatisfaction,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,NewEmployee
0,4.0,41.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,80.0,0,8,0,1,6,4,0,5,0
1,2.0,49.0,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,80.0,1,10,3,3,10,7,1,7,0
2,3.0,37.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,80.0,0,7,3,3,0,0,0,0,0
3,3.0,33.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,80.0,0,8,3,3,8,7,3,0,0
4,2.0,NaN,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,80.0,1,6,3,3,2,2,2,2,0

In [6]:
df.shape

(1506, 36)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   JobSatisfaction           1494 non-null   float64
 1   Age                       1503 non-null   float64
 2   Attrition                 1505 non-null   object
 3   BusinessTravel            1506 non-null   object
 4   DailyRate                 1506 non-null   int64
 5   Department                1506 non-null   object
 6   DistanceFromHome          1506 non-null   int64
 7   Education                 1506 non-null   int64
 8   EducationField            1506 non-null   object
 9   EmployeeCount             1506 non-null   int64
 10  EmployeeNumber            1506 non-null   int64
 11  EnvironmentSatisfaction   1506 non-null   int64
 12  Gender                    1506 non-null   object
 13  HourlyRate                1506 non-null   int64
 14  JobInvolvement            1506 non-null   int64
 15  JobLevel                  1506 non-null   int64
 16  JobRole                   1506 non-null   object
 17  MaritalStatus             1506 non-null   object
 18  MonthlyIncome             1506 non-null   int64
 19  MonthlyRate               1506 non-null   int64
 20  NumCompaniesWorked        1506 non-null   int64
 21  Over18                    1506 non-null   object
 22  OverTime                  1506 non-null   object
 23  PercentSalaryHike         1506 non-null   int64
 24  PerformanceRating         1506 non-null   int64
 25  RelationshipSatisfaction  1506 non-null   int64
 26  StandardHours             1499 non-null   float64
 27  StockOptionLevel          1506 non-null   int64
 28  TotalWorkingYears         1506 non-null   int64
 29  TrainingTimesLastYear     1506 non-null   int64
 30  WorkLifeBalance           1506 non-null   int64
 31  YearsAtCompany            1506 non-null   int64
 32  YearsInCurrentRole        1506 non-null   int64
 33  YearsSinceLastPromotion   1506 non-null   int64
 34  YearsWithCurrManager      1506 non-null   int64
 35  NewEmployee               1506 non-null   int64
dtypes: float64(3), int64(24), object(9)
memory usage: 423.7+ KB

In [8]:
# Evidenciamos que la variable JobSatisfaction tiene una  escala de 1 a 4
df.groupby(['JobSatisfaction'])['JobSatisfaction'].count()

JobSatisfaction
1.0    288
2.0    279
3.0    454
4.0    473
Name: JobSatisfaction, dtype: int64

In [9]:
#Se separan de la base los 12 registros con el valor de la variable objetivo "Job Satisfation" nulo para la evaluación del modelo. 
df_val=df[df['JobSatisfaction'].isna()]
df=df[df['JobSatisfaction'].isna()==False]
df['JobSatisfaction']=df['JobSatisfaction'].apply(int)
df.groupby(['JobSatisfaction'])['JobSatisfaction'].count()

JobSatisfaction
1    288
2    279
3    454
4    473
Name: JobSatisfaction, dtype: int64

### **1.1 Corrección de formatos y de datos**

#### **1.1.1 Variable Gender**

In [10]:
# Evidenciamos que la columna Gender tiene valores  no etiquetados correctamente
df.groupby(['Gender'])['Gender'].count()

Gender
Fem       241
Female    258
Male      724
female     94
man       177
Name: Gender, dtype: int64

In [11]:
#limpieza datos columna gender
conditions = [(df['Gender'].str.upper().str.contains('^FEM*')==True),
              (df['Gender'].isin(["man"])==True)
              ]
choices = ['Female','Male']
df['Gender']=np.select(conditions, choices, default=df['Gender'])

In [12]:
df['Gender'].drop_duplicates()

0    Female
1      Male
Name: Gender, dtype: object

In [13]:
#Verifiamos si los datos quedaron adecuadamente organizados de la columna Gender
df['Gender']=df['Gender'].apply(str)
df.groupby(['Gender'])['Gender'].count()

Gender
Female    593
Male      901
Name: Gender, dtype: int64

#### **1.1.2 Variable MaritalStatus**

In [14]:
df.groupby(['MaritalStatus'])['MaritalStatus'].count()

MaritalStatus
D            15
Divorced    321
M            14
Married     660
S            18
Single      466
Name: MaritalStatus, dtype: int64

In [15]:
conditions = [(df['MaritalStatus']=="S"),
              (df['MaritalStatus']=="M"),
              (df['MaritalStatus']=="D"),
              ]
choices = ['Single','Married','Divorced']
df['MaritalStatus']=np.select(conditions, choices, default=df['MaritalStatus'])

In [16]:
#Verifica Datos limpios 
df['MaritalStatus']=df['MaritalStatus'].apply(str)
df.groupby(['MaritalStatus'])['MaritalStatus'].count()

MaritalStatus
Divorced    336
Married     674
Single      484
Name: MaritalStatus, dtype: int64

#### **1.1.3 Variable Age**

In [17]:
df.groupby(['Age'])['Age'].count()

Age
3.0       2
18.0      8
19.0      8
20.0     11
21.0     13
22.0     16
23.0     15
24.0     26
25.0     28
26.0     39
27.0     49
28.0     50
29.0     66
30.0     61
31.0     71
32.0     63
33.0     58
34.0     76
35.0     81
36.0     69
37.0     51
38.0     59
39.0     43
40.0     57
41.0     40
42.0     46
43.0     32
44.0     33
45.0     43
46.0     33
47.0     24
48.0     19
49.0     24
50.0     30
51.0     20
52.0     19
53.0     19
54.0     18
55.0     23
56.0     14
57.0      4
58.0     13
59.0     10
60.0      5
190.0     1
200.0     1
Name: Age, dtype: int64

In [18]:
#Ajutamos valores atipicos y tipo de datos
df['Age'] = df['Age'].replace('190.0','190')
df['Age'] = df['Age'].replace('200.0','200')
df['Age'] = df['Age'].replace(3,18)
df['Age'] = df['Age'].replace(190,60)
df['Age'] = df['Age'].replace(200,60)
df['Age'][df['Age'].isna()]=df['TotalWorkingYears']+18
df.groupby(['Age'])['Age'].count()

Age
18.0    10
19.0     8
20.0    11
21.0    13
22.0    16
23.0    16
24.0    27
25.0    28
26.0    39
27.0    49
28.0    51
29.0    66
30.0    61
31.0    71
32.0    63
33.0    58
34.0    76
35.0    81
36.0    69
37.0    51
38.0    59
39.0    43
40.0    57
41.0    40
42.0    46
43.0    32
44.0    33
45.0    43
46.0    33
47.0    24
48.0    19
49.0    24
50.0    30
51.0    20
52.0    19
53.0    19
54.0    18
55.0    23
56.0    14
57.0     4
58.0    13
59.0    10
60.0     7
Name: Age, dtype: int64

#### **1.1.4 Variable Attrion**

In [19]:
df.groupby(['Attrition'])['Attrition'].count()

Attrition
Na        5
No     1243
Yes     245
Name: Attrition, dtype: int64

In [20]:
conditions = [(df['Attrition'].str.upper().str.contains('^NAN*')==True),
              (df['Attrition'].isin(["Na"])==True)
              ]
choices = ['No','No']
df['Attrition']=np.select(conditions, choices, default=df['Attrition'])
df['Attrition']=df['Attrition'].apply(str)
df.groupby(['Attrition'])['Attrition'].count()

Attrition
No     1248
Yes     245
nan       1
Name: Attrition, dtype: int64

#### **1.1.4 Variable BusinessTravel**

In [21]:
#Exploracion datos de la columna BussinessTravel
df.groupby(['BusinessTravel'])['BusinessTravel'].count()

BusinessTravel
Non-Travel            154
Travel_Frequently     281
Travel_Rarely        1059
Name: BusinessTravel, dtype: int64

In [22]:
df['BusinessTravel'] = df['BusinessTravel'].replace('Non-Travel','Travel_No')
df['BusinessTravel']=df['BusinessTravel'].apply(str)
df.groupby(['BusinessTravel'])['BusinessTravel'].count()

BusinessTravel
Travel_Frequently     281
Travel_No             154
Travel_Rarely        1059
Name: BusinessTravel, dtype: int64

#### **1.1.4 Variable DailyRate Daily**

In [23]:
#Exploracion datos de la columna DailyRate
df['DailyRate']=df['DailyRate'].apply(int)
df.groupby(['DailyRate'])['DailyRate'].count()

DailyRate
102     1
103     2
104     1
105     1
106     1
       ..
1492    1
1495    3
1496    2
1498    1
1499    1
Name: DailyRate, Length: 884, dtype: int64

#### **1.1.4 Variable Department**

In [24]:
#Exploracion datos de la columna DailyRate
df['DailyRate']=df['DailyRate'].apply(str)
df.groupby(['Department'])['Department'].count()

Department
Human Resources            63
Research & Development    982
Sales                     449
Name: Department, dtype: int64

#### **1.1.4 Variable DistanceFromHome**

In [25]:
df['DistanceFromHome']=df['DistanceFromHome'].apply(int)
df.groupby(['DistanceFromHome'])['DistanceFromHome'].count()

DistanceFromHome
1     213
2     210
3      90
4      65
5      64
6      62
7      84
8      81
9      85
10     86
11     30
12     21
13     19
14     21
15     27
16     34
17     21
18     26
19     23
20     25
21     16
22     19
23     28
24     29
25     27
26     25
27     13
28     23
29     27
Name: DistanceFromHome, dtype: int64

Se revisa sin existen datos por encima de tres desviaciones estandar del promedio.

In [26]:
df[df['DistanceFromHome'] > (df['DistanceFromHome'].mean() + df['DistanceFromHome'].std() * 3)].shape

(0, 36)

#### **1.1.4 Variable Education**

In [27]:
df['Education']=df['Education'].apply(int)
df.groupby(['Education'])['Education'].count()

Education
1    170
2    294
3    579
4    401
5     48
7      2
Name: Education, dtype: int64

El nivel de educación 7 se reemplazará por el nuivel de educación 5

In [28]:
df['Education'] = df['Education'].replace(7,5)

#### **1.1.4 Variable EducationField**

In [29]:
df.groupby(['EducationField'])['EducationField'].count()

EducationField
Human Resources      27
Life Sciences       614
Marketing           159
Med                 117
Medical             353
Other                88
Technical Degree    136
Name: EducationField, dtype: int64

In [30]:
df['EducationField'] = df['EducationField'].replace('Med','Medical')

In [31]:
df.groupby(['EducationField'])['EducationField'].count()

EducationField
Human Resources      27
Life Sciences       614
Marketing           159
Medical             470
Other                88
Technical Degree    136
Name: EducationField, dtype: int64

#### **1.1.4 Variable EmployeeCount**

In [32]:
df.groupby(['EmployeeCount'])['EmployeeCount'].count()
df['EmployeeCount'] = df['EmployeeCount'].replace(2,1)
df['EmployeeCount']=df['EmployeeCount'].apply(int)

In [33]:
#Verificamos datos ordenados correctamente
df.groupby(['EmployeeCount'])['EmployeeCount'].count()

EmployeeCount
1    1494
Name: EmployeeCount, dtype: int64

In [34]:
del df['EmployeeCount']

#### **1.1.4 Variable EmployeeNumber**

In [35]:
#Exploramos los datos 
df['EmployeeNumber']=df['EmployeeNumber'].apply(int)
df.groupby(['EmployeeNumber'])['EmployeeNumber'].count()
del df['EmployeeNumber']

#### **1.1.4 Variable EnvironmentSatisfaction**

In [36]:
#Exploramos los datos 
df['EnvironmentSatisfaction']=df['EnvironmentSatisfaction'].apply(int)
df.groupby(['EnvironmentSatisfaction'])['EnvironmentSatisfaction'].count()

EnvironmentSatisfaction
1    285
2    290
3    460
4    459
Name: EnvironmentSatisfaction, dtype: int64

#### **1.1.4 Variable HourlyRate**

In [37]:
#Exploramos los datos 
df['HourlyRate']=df['HourlyRate'].apply(int)
df.groupby(['HourlyRate'])['HourlyRate'].count()

HourlyRate
30     19
31     16
32     24
33     19
34     12
       ..
150     1
169     1
179     1
186     1
190     1
Name: HourlyRate, Length: 76, dtype: int64

In [39]:
df[df['HourlyRate'] > (df['HourlyRate'].mean() + df['HourlyRate'].std() * 3)]
Q1 = df['HourlyRate'].quantile(0.25)
Q3 = df['HourlyRate'].quantile(0.75)
IQR = Q3 - Q1
df['HourlyRate'][df['HourlyRate'] > (df['HourlyRate'].mean() + df['HourlyRate'].std() * 3)]=Q3+(1.5*IQR)

#### **1.1.4 Variable JobInvolvement**

In [40]:
#Exploramos los datos 
df['JobInvolvement']=df['JobInvolvement'].apply(int)
df.groupby(['JobInvolvement'])['JobInvolvement'].count()

JobInvolvement
1     87
2    382
3    874
4    151
Name: JobInvolvement, dtype: int64

#### **1.1.4 Variable JobLevel**

In [41]:
#Exploramos los datos 
df['JobLevel']=df['JobLevel'].apply(int)
df.groupby(['JobLevel'])['JobLevel'].count()

JobLevel
1    563
2    537
3    218
4    107
5     69
Name: JobLevel, dtype: int64

#### **1.1.4 Variable JobRole**

In [42]:
#Exploramos los datos 

df['JobRole']=df['JobRole'].apply(str)
df['JobRole'] = df['JobRole'].replace('RH','Human Resources')
df.groupby(['JobRole'])['JobRole'].count()

JobRole
Healthcare Representative    134
Human Resources               52
Lab Tech                     150
Laboratory Technician        122
Manager                      102
Manufacturing Director       143
Research Director             79
Research Scientist           299
Sales Executive              327
Sales Representative          86
Name: JobRole, dtype: int64

#### **1.1.4 Variable JobSatisfaction**

In [43]:
df['JobSatisfaction']=df['JobSatisfaction'].apply(int)
df.groupby(['JobSatisfaction'])['JobSatisfaction'].count()

JobSatisfaction
1    288
2    279
3    454
4    473
Name: JobSatisfaction, dtype: int64

#### **1.1.4 Variable MonthlyIncome**

In [45]:
# Explora datos y ajusta tipo de dato
df['MonthlyIncome']=df['MonthlyIncome'].apply(float)
df.groupby(['MonthlyIncome'])['MonthlyIncome'].count()

MonthlyIncome
25.0         1
50.0         1
1009.0       1
1051.0       1
1052.0       1
            ..
19926.0      1
19943.0      1
19973.0      1
19999.0      1
9907000.0    1
Name: MonthlyIncome, Length: 1339, dtype: int64

Se identifica un valor atípico, y es reemplazado por el máximo de los valores típicos

In [46]:
Q1 = df['MonthlyIncome'].quantile(0.25)
Q3 = df['MonthlyIncome'].quantile(0.75)
IQR = Q3 - Q1
df['MonthlyIncome'][df['MonthlyIncome'] > (df['MonthlyIncome'].mean() + df['MonthlyIncome'].std() * 3)]=Q3+(1.5*IQR)

#### **1.1.4 Variable MonthlyRate**

In [47]:
df['MonthlyRate']=df['MonthlyRate'].apply(int)
df.groupby(['MonthlyRate'])['MonthlyRate'].count()

MonthlyRate
2094     2
2097     1
2104     1
2112     1
2122     1
        ..
26956    1
26959    1
26968    1
26997    1
26999    1
Name: MonthlyRate, Length: 1416, dtype: int64

In [48]:
df[df['MonthlyRate'] > (df['MonthlyRate'].mean() + df['MonthlyRate'].std() * 3)].shape

(0, 34)

No se identifican valores atípicos para esta variable

#### **1.1.4 Variable NumCompaniesWorked**

In [49]:
#Exploramos datos 
#Numero de compañias en las que ha trabajado en el pasado - Equivale de cierta manera a la experiencia acumulada del empleado
df['NumCompaniesWorked']=df['NumCompaniesWorked'].apply(int)
df.groupby(['NumCompaniesWorked'])['NumCompaniesWorked'].count()

NumCompaniesWorked
0    198
1    531
2    151
3    162
4    143
5     63
6     71
7     73
8     50
9     52
Name: NumCompaniesWorked, dtype: int64

#### **1.1.4 Variable Over18**

In [50]:
# Explora datos variable mas 18 años 
df['Over18']=df['Over18'].apply(str)
df.groupby(['Over18'])['Over18'].count()
 # Se evidencia que el 100%  de los empleados tienen  mas de 18 años. Esta variable se debe descartar en el  modelo ya que no influye en los resultados. Por ley todo los empleados deben ser mayores de 18 años.

Over18
Y    1494
Name: Over18, dtype: int64

In [51]:
del df['Over18']

#### **1.1.4 Variable OverTime**

In [52]:
df.groupby(['OverTime'])['OverTime'].count()
#Se reliza el ajuste de Na asumiendo que de los 137 que no tienen informacion significa que no hicieron overtime

OverTime
Na     137
No     933
Yes    424
Name: OverTime, dtype: int64

In [53]:
df['OverTime'] = df['OverTime'].replace('Na','No')

In [54]:
# Resultado datos limpios 
df.groupby(['OverTime'])['OverTime'].count()

OverTime
No     1070
Yes     424
Name: OverTime, dtype: int64

#### **1.1.4 Variable PercentSalaryHike**

In [55]:
# Exploramos datos - % porcentaje de aumento en el salario
df['PercentSalaryHike']=df['PercentSalaryHike'].apply(int)
df.groupby(['PercentSalaryHike'])['PercentSalaryHike'].count()

PercentSalaryHike
11    215
12    203
13    212
14    205
15    104
16     80
17     82
18     89
19     74
20     55
21     49
22     57
23     30
24     21
25     18
Name: PercentSalaryHike, dtype: int64

In [56]:
df[df['PercentSalaryHike'] > (df['PercentSalaryHike'].mean() + df['PercentSalaryHike'].std() * 3)].shape

(0, 33)

Para esta variable no exiten valor atípicos

#### **1.1.4 Variable PerformanceRating**

In [57]:
# Exploramos datos - Performance 
df['PerformanceRating']=df['PerformanceRating'].apply(int)
df.groupby(['PerformanceRating'])['PerformanceRating'].count()

PerformanceRating
3    1264
4     230
Name: PerformanceRating, dtype: int64

#### **1.1.4 Variable RelationshipSatisfaction**

In [58]:
# Exploramos datos 
df['RelationshipSatisfaction']=df['RelationshipSatisfaction'].apply(int)
df.groupby(['RelationshipSatisfaction'])['RelationshipSatisfaction'].count()

RelationshipSatisfaction
1    279
2    310
3    464
4    441
Name: RelationshipSatisfaction, dtype: int64

#### **1.1.4 Variable StandardHours**

In [59]:
df=df[df['StandardHours'].isna()==False]
df['StandardHours']=df['StandardHours'].apply(int)
df.groupby(['StandardHours'])['StandardHours'].count()

StandardHours
80    1487
Name: StandardHours, dtype: int64

In [60]:
del df['StandardHours']

#### **1.1.4 Variable StockOptionLevel**

In [61]:
# Exploramos datos 
df['StockOptionLevel']=df['StockOptionLevel'].apply(int)
df.groupby(['StockOptionLevel'])['StockOptionLevel'].count()

StockOptionLevel
0    643
1    598
2    160
3     86
Name: StockOptionLevel, dtype: int64

#### **1.1.4 Variable TotalWorkingYears**

In [62]:
df['TotalWorkingYears']=df['TotalWorkingYears'].apply(int)
df.groupby(['TotalWorkingYears'])['TotalWorkingYears'].count()

TotalWorkingYears
0      12
1      85
2      31
3      44
4      62
5      91
6     130
7      84
8     104
9      99
10    198
11     36
12     49
13     35
14     31
15     40
16     36
17     34
18     27
19     23
20     28
21     34
22     22
23     22
24     19
25     14
26     14
27      7
28     13
29      9
30      7
31     10
32      9
33      7
34      5
35      3
36      6
37      4
38      1
40      2
Name: TotalWorkingYears, dtype: int64

Se identifican valores atíícospi

In [63]:
df[df['TotalWorkingYears'] > (df['TotalWorkingYears'].mean() + df['TotalWorkingYears'].std() * 3)].shape

(16, 32)

In [64]:
Q1 = df['TotalWorkingYears'].quantile(0.25)
Q3 = df['TotalWorkingYears'].quantile(0.75)
IQR = Q3 - Q1
df['TotalWorkingYears'][df['TotalWorkingYears'] > (df['TotalWorkingYears'].mean() + df['TotalWorkingYears'].std() * 3)]=Q3+(1.5*IQR)

#### **1.1.4 Variable TrainingTimesLastYear**

In [65]:
df['TrainingTimesLastYear']=df['TrainingTimesLastYear'].apply(int)
df.groupby(['TrainingTimesLastYear'])['TrainingTimesLastYear'].count()

TrainingTimesLastYear
0     55
1     71
2    550
3    500
4    124
5    121
6     66
Name: TrainingTimesLastYear, dtype: int64

#### **1.1.4 Variable WorkLifeBalance**

In [66]:
#Explora datos
df['WorkLifeBalance']=df['WorkLifeBalance'].apply(int)
df.groupby(['WorkLifeBalance'])['WorkLifeBalance'].count()

WorkLifeBalance
1     81
2    350
3    903
4    153
Name: WorkLifeBalance, dtype: int64

#### **1.1.4 Variable YearsAtCompany**

In [67]:
#Explora datos
df['YearsAtCompany']=df['YearsAtCompany'].apply(int)
np.where(df['YearsAtCompany']==100,df['Age'][df['YearsAtCompany']==100]-18,df['YearsAtCompany'])
df.groupby(['YearsAtCompany'])['YearsAtCompany'].count()

YearsAtCompany
0       45
1      175
2      130
3      129
4      113
5      195
6       76
7       93
8       80
9       85
10     117
11      32
12      15
13      24
14      19
15      19
16      12
17       9
18      13
19      11
20      27
21      14
22      15
23       2
24       6
25       5
26       4
27       2
29       2
30       1
31       3
32       3
33       5
34       1
36       2
37       1
40       1
100      1
Name: YearsAtCompany, dtype: int64

#### **1.1.4 Variable YearsInCurrentRole**

In [68]:
#Explora Datos
df['YearsInCurrentRole']=df['YearsInCurrentRole'].apply(int)
df.groupby(['YearsInCurrentRole'])['YearsInCurrentRole'].count()

YearsInCurrentRole
0     250
1      58
2     378
3     135
4     101
5      37
6      38
7     226
8      92
9      65
10     29
11     21
12     10
13     15
14     11
15      8
16      7
17      4
18      2
Name: YearsInCurrentRole, dtype: int64

#### **1.1.4 Variable YearsSinceLastPromotion**

In [69]:
#Explora Datos
df['YearsSinceLastPromotion']=df['YearsSinceLastPromotion'].apply(int)
df.groupby(['YearsSinceLastPromotion'])['YearsSinceLastPromotion'].count()

YearsSinceLastPromotion
0     587
1     362
2     162
3      56
4      61
5      45
6      32
7      76
8      17
9      17
10      6
11     24
12     10
13     10
14      9
15     13
Name: YearsSinceLastPromotion, dtype: int64

#### **1.1.4 Variable YearsWithCurrManager**

In [70]:
del df['NewEmployee']

In [71]:
#Explora Datos
df['YearsWithCurrManager']=df['YearsWithCurrManager'].apply(int)
df.groupby(['YearsWithCurrManager'])['YearsWithCurrManager'].count()

YearsWithCurrManager
0     270
1      77
2     344
3     147
4      97
5      31
6      30
7     220
8     108
9      64
10     26
11     21
12     18
13     14
14      5
15      5
16      2
17      8
Name: YearsWithCurrManager, dtype: int64

In [72]:
df.isna().sum()

JobSatisfaction             0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

### **2. Analisis Datos**

In [73]:
df.profile_report()

AttributeError: ignored

In [78]:
sns.barplot(x=df['Age'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [79]:
sns.barplot(x=df['Attrition'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [80]:
sns.barplot(x=df['BusinessTravel'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['Department'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['Education'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['EducationField'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['EnvironmentSatisfaction'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['Gender'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['JobInvolvement'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['JobRole'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['MaritalStatus'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['NumCompaniesWorked'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['OverTime'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['PercentSalaryHike'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['PerformanceRating'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['RelationshipSatisfaction'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['StockOptionLevel'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['TotalWorkingYears'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['WorkLifeBalance'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['YearsAtCompany'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['YearsInCurrentRole'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['YearsSinceLastPromotion'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.barplot(x=df['YearsWithCurrManager'],y=df['JobSatisfaction'])
plt.xticks(rotation='vertical')
plt.show()

## 2.Analisis bivariado

En primer lugar se analiza la correlación entre las variables usadas en el modelo

In [ ]:
df.columns

In [ ]:
df.info()

In [81]:
sns.heatmap(df[['JobSatisfaction','Age','DistanceFromHome', 'Education','EnvironmentSatisfaction', 'HourlyRate','JobInvolvement','JobLevel','MonthlyIncome', 'MonthlyRate','NumCompaniesWorked', 'PercentSalaryHike','PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel','TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance','YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion','YearsWithCurrManager']].corr())

Se identifca una alta correlación entre algunas variables como por ejemplo el salario y mensual y el Nivel laboral, adiconalmente las variables relacionadas con los años como los años de antiguedad, años de la última promoción, por lo cual contempla alguna tecnica de reducción de dimensionalidad.

### **3. Entrenamiento Modelo**

### **3.1.Codificación y Normalización de datos**

In [82]:
df.head()

,JobSatisfaction,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,4,41.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,...,3,1,0,8.0,0,1,6,4,0,5
1,2,49.0,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,...,4,4,1,10.0,3,3,10,7,1,7
2,3,37.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,...,3,2,0,7.0,3,3,0,0,0,0
3,3,33.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,...,3,3,0,8.0,3,3,8,7,3,0
4,2,24.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,3,4,1,6.0,3,3,2,2,2,2

In [83]:
df.to_csv("/content/drive/MyDrive/Taller3_CDA/Data_Taller_3_modelo.csv",sep=";",index=False)